<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
    {%block title%}
    <title>Title</title>
    {%endblock%}
</head>
<body>
   
    {%include "includes/navbar.html"%}

    <div class="container">
        
        <br><br><br>
        {% include "includes/messages.html" %}
        
        {%block body%}
       
        {%endblock%}
        
        <script>
            CKEDITOR.replace( 'content' );
        </script>
    </div>
</body>
</html>