/Java/image_process/image_process/nbproject/private/
/Java/image_process/image_process1/.nb-gradle/
/Java/image_process/image_process2/.nb-gradle/
/Java/image_process/image_process3/.nb-gradle/
/Java/image_process/image_process3/build/